@import url('https://fonts.googleapis.com/css?family=Mali');
.App {
  font-family: 'Mali', cursive;
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.bgBlackGold{
  background-color:black;
  color:rgba(255, 255, 0, 0.945);
}
.bgMaroonWhite{
  background-color:maroon;
  color:white;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



.pd0{
  padding:0;
}

.dgray{
  background-color: #fafafa;
}

.all0{
  padding:0;
  margin:0;
}

.playout{
  position: relative;
  display:inline-grid;
  margin:10px;
  background-color: black;
  padding: 5px;
 }
 .playout-maroon{
  position: relative;
  display:inline-grid;
  margin:10px;
  background-color: maroon;
  padding: 5px;
 }

 .gbulat{
height:200px;
width:200px;
border-radius: 5%;
margin-top:20px;
 }
 .gbulat2{
  height:300px;
  width:300px;
  border-radius: 5%;
  margin-top:20px;
   }
.dproduct{
  background-color: black;
}
input:invalid + span:after {
  content: '✖';
  color: #f00;
  padding-left: 5px;
}

input:valid + span:after {
  content: '✓';
  color: #26b72b;
  padding-left: 5px;
}
 input[type="text"],
 input[type="password"],
 input[type="number"],
 input[type="date"],
 input[type="time"]
  {
  max-width: 100%;
  background: transparent!important;
  border: none!important;
  border-bottom: 3px solid rgba(255, 255, 0, 0.945)!important;
  font-size : 20px;
  font-weight: bold;
  color:rgba(255, 255, 0, 0.945)!important;
  
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="time"]:focus
{
  background: transparent;
  border: none;
  border-bottom: 3px solid maroon!important;
  outline: none;
  color:maroon!important;
}
.input-style{
  max-width: 100%;
  background: transparent!important;
  border: none!important;
  border-bottom: 3px solid rgba(255, 255, 0, 0.945)!important;
  font-size : 20px;
  font-weight: bold;
  color:rgba(255, 255, 0, 0.945)!important;
} 
input[type="number"]:focus.input-style{
  background: transparent;
  border: none;
  border-bottom: 3px solid maroon!important;
  outline: none;
  color:white!important;
}
textarea{
  background: transparent!important;
  border: none!important;
  resize: none;
  border-bottom: 3px solid rgba(255, 255, 0, 0.945)!important;
  font-size : 20px;
  font-weight: bold;
  color:rgba(255, 255, 0, 0.945)!important;
  max-width: 200px;
  
}
textarea:focus{
  outline: none
}
.form-center-maroon{
  padding:150px;
  background-size:cover;
  background-position: center;
  color:maroon;
}
.form-fit{
  padding:50px;
  background-size:cover;
  background-position: center;
}
.form-center{
  padding:150px;
  background-size:cover;
  background-position: center;
}
.formSignIn{
  background-color: #fafafa ;
  padding:2%;
  margin:10%;
  width:80%;
  opacity: 0.7;
  border-radius: 10%;
}
.formSignUp{
  background-color: #fafafa ;
  padding:2%;
  margin:10%;
  width:80%;
  opacity: 0.7;
  border-radius: 10%;
}
.tombol{
  background-color: transparent;
  color:rgba(255, 255, 0, 0.945);
  border:none;
  padding: 10px;
  text-decoration: none;
  font-size : 20px;
  font-weight: bold;
}
.tombol:hover{
  background-color: rgba(255, 255, 0, 0.945);
  color:maroon;
  border:none;
  padding: 10px;
  text-decoration: none;
  font-size : 20px;
  font-weight: bold;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 0, 0.945);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.text-overlay{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.playout:hover .overlay {
  bottom: 0;
  height: 100%;
}
.tombol-overlay{
  background-color: transparent;
  color:maroon;
  border:none;
  padding: 10px;
  text-decoration: none;
  font-size : 20px;
  font-weight: bold;
}
.tombol-overlay:hover{
  background-color: maroon;
  color:rgba(255, 255, 0, 0.945);
  border:none;
  padding: 10px;
  text-decoration: none;
  font-size : 20px;
  font-weight: bold;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
